*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* navbar-offer */
.nav-offer{
    background-color: #1D232C;
    color:white ;
    padding: 10px;
    display: block;
    text-align: center;
}

#close-offer{
    cursor: pointer;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position:sticky;
    z-index: 5;
    top: 0px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;   
}

.nav-bar__list{
    display: flex;
    gap:10px;
    margin: 10px;
    
}
.nav-bar__list li a{
    text-decoration: none;
    color: #1D232C;
}
#menu-bar{
display: none;
cursor: pointer;
}
/* Container */
.container{
padding-left: 15px;
padding-right: 15px;
}
/* navbar-slide */
.navbar-slide{
background-color: #1D232C;
position: fixed;
top:0px;
height: 100%;
width: 50%;
z-index: 6;
padding-top:10%;
transition: all;
transition-duration: 2s;

}
.navbar-slide p{
    cursor: pointer;
    color: white;
    position: absolute;
    right: 2vw;


}
.navbar-slide__list li a{
    text-decoration: none;
    color: #E2E1E1;

}
.navbar-slide__list li{
    margin-top: 30px;
    padding-left: 7vw;
}
/* contact-form */
.contact-form{
        background-color: #1D232C;
        color: #dddddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 60vw;
        margin: auto;
        padding: 5vw;
        padding-right: 10vw;
        margin-top: 10px;
    
}
.contact-form h2 {
    margin-bottom: 1vw;
}
.contact-form input[type="text"],.contact-form textarea
{
  
        width: 100%;
        padding: 2vw;
        border: 1px solid #dddddd;
        border-radius: 4px;
        margin-bottom: 1vw;
        font-size: 1vw;

}
.contact-form label {
    display: block;
    margin-bottom: 1vw;
}
.contact-form input[type="submit"]
{
    background-color:#0056b3;
    color: white;
    
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}

/* News Letter */
.news-letter{
    text-align: center;
    margin-top: 5vw;
    font-size: 2vw;
}
.news-letter input{
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80vw;
    border: solid 2px #1D232C;
}

.news-letter button{
    padding: 10px;
    background-color: #1D232C;
    color:#E2E1E1;
    border-radius: 10px;
    font-size: 1.8vw;
}
/* footer */
.footer{
    background-color: #1D232C;
    color:#E2E1E1;
    padding: 3%;
    margin-top: 4%;
    font-size: 1.8vw;
}
.footer-icon{
    /* margin-top: 2vw;
    margin-bottom: 2vw; */
    display: flex;
    gap: 5%;
    padding: 2vw;

}
@media screen and (max-width:900px) {

    #menu-bar{
        display: block;
    }
    .nav-bar ul{
        display: none;
    }
    
}